<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="info.piwai.tjmoid"
      android:versionCode="2"
      android:versionName="1.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity
        	android:name=".TJMoid"
        	android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        	android:name=".MonthlySalaryActivity"
        	android:screenOrientation="portrait"
            android:label="Salaire exact" />
        

    <activity android:name="Preferences"></activity>
</application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 